#!/bin/zsh

# py env is automatically activated when entering the project 
# (and deactivated when leaving)
export VIRTUAL_ENV=env

# Start the virtual environment
layout python python3.11

# Ensures UV is compatible with direnv config
export UV_PROJECT_ENVIRONMENT=`pwd`/env
