#!/bin/zsh

# py env is automatically activated when entering the project 
# (and deactivated when leaving)
export VIRTUAL_ENV=env

# Install uv if it's not already installed
if ! command -v uv &> /dev/null; then
    echo "🛠️  Installing uv..."
    make install-uv
fi


# Ensures UV is compatible with direnv config
export UV_PROJECT_ENVIRONMENT=`pwd`/env

pyenv install 3.11.9

# Start the virtual environment
source env/bin/activate